.tape {
	width: 100%;
	background-color: $dark-blue;
	padding: 1rem 0;
	font-size: 16px;
	height: 40px;
	position: relative;
	overflow: hidden;
	pointer-events: none;
	
	@include respond-to(small) {
		height: 60px;
		font-size: 18px;
	}

	&-wrapper {
		position: absolute;
		top: 50%;
		left: 1rem;
		transform: translateY(-50%);
		//border: 1px dashed red;
		white-space: nowrap;
	}

  	&--light {
	  background-color: $blue;
	  margin-top: 60px;
	  margin-bottom: 40px;
	  position: sticky;
	  top: 0;
	  z-index: 200;

	  .tape-anwser {
		  color: $dark-blue;
	  }
	}
	
	&--dark {
		background-color: $dark-blue;

		.tape-anwser {
			color: $blue;
		}
  }

  &-question {
	  color: white;
  }
}