node_modules
node_modules/**
node_modules/
.cache
dist
dist/
src/.temp/
/src/.temp/config.js
/src/.temp/now.js
/src/.temp/routes.js
*/.DS_Store
**/**/.DS_Store
.DS_Store
/.htpasswd
node_modules/axios/CHANGELOG.md
.DS_Store
