.article {
	width: 100%;
	padding: 0 1rem;
	max-width: $article-max-width;
	margin: 0 auto;
	margin-top: 3rem;
	display: flex;
	align-items: center;
	flex-direction: column;

	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 1px;
	color: black;
	text-align: left;

	@include respond-to(small) {
		font-size: 18px;
	}

	&-paragraph {
		width: 100%;
		margin-bottom: 2rem;

		&--colored {
			color: $blue;
		}

		&--narrow {
			padding: 0 1rem;
			
			@include respond-to(small) {
				padding: 0 10%;
			}
		}
	}

	h2 {
		color: $blue;
		text-align: left;
		width: 100%;
		margin: 2rem 0 1rem 0;
	}

	p {
		width: 100%;
	}

	&-link {
		color: $blue;
		text-transform: uppercase;

		&:visited {
			color: $blue;
		}

		&:hover {
			text-decoration: underline;
		}
	}
		
	&-highlight {
		color: $blue;
	}

	&-divider {
		height: 1px;
		border-bottom: 2px solid $blue;
		width: 100%;
		margin: 0rem 0 2rem 0;
	}
}