/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */
@import '../components/stories/stories';
@import '../components/profile/profile';
@import '../components/article/article';
@import '../components/footer/footer';

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo styles */

body {
  background: $white;
  color: $dark-blue;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 0;

  @include respond-to(medium) {
    font-size: 1rem;
  }
}

.scrollUpIndicator {
  width: 100%;
  color: $black;
  padding: 1rem;
  text-align: left;
}

/*p {
  border-left: 4px solid white;
  padding-left: 1rem;
  width: auto;
  display: inline-block;
  margin-top: 1rem;
}*/

